.app {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding: 0.5em 0;
}

.btn {
    font-size: 1em;
    font-family: "Helvetica Neue", sans-serif;
    padding: 0.5%;
    width: 100px;
}

.content {
    width: 100%;
    height: 90vh;
    border: 1px solid gray;
    border-radius: 5px;
}